a:link{
    text-decoration: none !important;
}
.box-size {
    box-sizing: border-box;
}
.container-studyGroup {
    margin: 0 auto;
    width: 70%;
}

@media (min-width: 540px)
.contents_wrapper {
    background: transparent;
}

.contents_wrapper {
    background: #fff;
    margin-bottom: 2rem;
}
/*
    alert 메세지 스타일
 */
.alert-message{
    animation-name: fadeOut;
    animation-delay: 5000ms;
}
@keyframes fadeOut {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}

/*
    게시판 상단 스타일 : 제목, 버튼
 */
.board_title{
    position: relative;
    padding: 30px 0;
}
.title_contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title_div_text {
    display: flex;
    align-items: center;
}
.title_text{
    margin-bottom: 4px;
    font-weight: bold;
}
.btn_write{
    height: 35px;
    background: #458dfc;
    border-radius: 0.375rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 14px;
    border: none;
}
.btn_write:hover{
    background: #c9c9c9;
    transition: 0.2s ease;
}

/*
    게시판 스타일 : 자유게시판 postForum - list
 */
.card{
    margin-bottom: 10px;
    text-decoration: none;
}
.post-card{
    font-size: 0.8rem;
    text-align: left;
    color: #333;
}
.card-category{
    color: #508dfd;;
    font-weight: bold;
    margin-bottom: 10px;
}
.post-card-title{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom_userAndDate {
    display: flex;
    grid-gap: 15px;
    gap: 15px;
    align-items: center;
}
.bottom_user {
    display: flex;
    align-items: center;
    position: relative;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
}
.bottom_userName {
    color: #333;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: 700;
}
.bottom_seperator {
    width: 2px;
    height: 1rem;
    background-color: #e2e2e2;
}
.bottom_registeredDate, .bottom_view {
    margin-bottom: 0.5px;
    font-size: 0.7rem;
    color: #717171;
}
.bottom_endDate {
    font-size: 0.7rem;
    color: #ff976b;
}
.view_img{
    width: 16px;
    height: auto;
}

/*
    post detail 상세보기 페이지
*/
.post-top{
    margin-top: 30px;
}
.post_content_category{
    color: #508dfd;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}
.post_content_title{
    font-weight: 800;
    font-size: 30px;
    line-height: 126.5%;
    letter-spacing: -.005em;
    color: #000;
    text-align: left;
}
.post_content_title_assign{
    display: flex;
    justify-content: space-between;
}
.post_assign_score{
    background-color: rgb(116, 206, 124);
    color: #fff;
    border-radius: 5%;
    padding: 1px 10px;
    font-size: 1rem;
}
.post_content_title_bottom {
    border-bottom: 3px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post_content_userAndDate {
    margin-top: 25px;
    padding-bottom: 25px;
    display: flex;
    grid-gap: 15px;
    gap: 15px;
    align-items: center;
}
.post_content_user {
    display: flex;
    align-items: center;
    position: relative;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
}
.post_content_userImg {
    cursor: pointer;
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 8px;
    border-radius: 50%;
    object-fit: cover;
}
.post_content_userName {
    color: #333;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
}
.post_content_seperator {
    width: 2px;
    height: 1rem;
    background-color: #e2e2e2;
}
.post_content_registeredDate {
    font-size: 1rem;
    color: #717171;
}
.post_content_endDate {
    color: #ff976b;
}
.post_content_contents{
    width: 100%;
    margin: 40px auto 0;
    font-size: 0.9rem;
    text-align: left;
}
.post_content_attach{
    width: 100%;
    margin: 40px auto 0;
    font-size: 0.9rem;
    text-align: left;
}
.list-group-item-gray {
    color: #141619;
    background-color: #e3e3e3;
}

/*
    스터디 관리 스타일
 */
.option_flex{
    display: flex;
    justify-content: flex-start;
}
.form-option-custom{
    padding-left: 0px;
    padding-right: 15px;
    line-height: 2.4;
}
.infoFormBtn{
    float: right;
    height: auto;
    padding-right: 65px;
}
.btn_edit{
    height: 35px;
    background: #458dfc;
    border-radius: 0.375rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 14px;
    border: none;
    float: right;
}
.btn_edit:hover{
    background: #c9c9c9;
    transition: 0.2s ease;
}
.group_info_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 20px 14px;
}
.group_info_card_txt{
    text-align: left;
}
.btn_delete{
    height: 35px;
    background: #eeeeee;
    border-radius: 0.375rem;
    color: #ff6b6b;
    font-weight: 500;
    font-size: 14px;
    border: 0.7px solid #b9b9b9;
    float: right;
}
.btn_delete:hover{
    background: #ff4a4a;
    color: #c9c9c9;
    transition: 0.2s ease;
}