* {
    font-family: inherit;
}
section {
    display: block;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    margin: 0 auto;
    font-size: .875rem;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container-main{
    margin: 0 auto;
    width: 70%;
}
.banner-img{
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}
.card-study {
    margin-bottom: 1rem;
    transition: 0.5s ease;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.card-study:hover{
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    transition: 0.5s ease;
}
.bg-lightblue {
    background-color: #BDD7EE;
}
.bg-lightorange {
    background-color: #FBE5D6;
}
.bg-lightgreen {
    background-color: #E2F0D9;
}

/*
    스터디 소개글 스타일
 */
.back_arrow{
    margin-top: 3rem;
}
.studyContent_wrapper {
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1.5rem 1.5rem 5rem;
    text-align: left;
}
.studyContent_title {
    margin-top: 40px;
    font-weight: 800;
    font-size: 30px;
    line-height: 126.5%;
    letter-spacing: -.005em;
    color: #000;
}
.studyContent_userAndDate {
    margin-top: 32px;
    padding-bottom: 32px;
    border-bottom: 3px solid #f2f2f2;
    display: flex;
    grid-gap: 15px;
    gap: 15px;
    align-items: center;
}
.studyContent_user {
    display: flex;
    align-items: center;
    position: relative;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
}
.studyContent_userImg {
    cursor: pointer;
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 8px;
    border-radius: 50%;
    object-fit: cover;
}
.studyContent_userName {
    color: #333;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
}
.studyContent_seperator {
    width: 2px;
    height: 1rem;
    background-color: #e2e2e2;
}
.studyContent_registeredDate {
    font-size: 1rem;
    color: #717171;
}
.studyInfo_studyGrid {
    display: grid;
    grid-template-columns: repeat(2,3fr);
    grid-row-gap: 24px;
    row-gap: 24px;
    margin-top: 60px;
}
.studyInfo_contentWrapper {
    display: flex;
    position: relative;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
}
.studyInfo_title {
    color: #717171;
    margin-right: 36px;
}
.studyInfo_content {
    color: #333;
}
/* 프로젝트 소개 */
.studyContent_postContentWrapper {
    margin-top: 132px;
    font-size: 1rem;
    word-break: break-all;
    line-height: 1.7;
    letter-spacing: -.004em;
}
.studyContent_postInfo {
    margin: 0;
    color: #333;
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 24px;
    border-bottom: 3px solid #f2f2f2;
}
.studyContent_postContent {
    width: 100%;
    margin: 40px auto 0;
    font-size: 0.9rem;
}
/* 조회수 확인 */
.sc_watch {
    margin-top: 20px;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    gap: 10px;
    height: 20px;
    margin-bottom: 20px;
}
.lpaEYv {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 5px;
}
.sc_img {
    display: block;
    width: 16px;
    height: auto;
}
.kydRHc {
    color: rgb(153, 153, 153);
    font-size: 0.9rem;
    font-weight: 500;
}
/* 하단 버튼 */
.sc_button{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    width: 100%;
    z-index: 3;
    background-color: white;
    padding-bottom: calc(env(safe-area-inset-bottom) + 10px);
}
.sc_join{
    flex: 1 1 0%;
    height: 45px;
    background: #458dfc;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 17px;
    border: none;
}
.sc_join:hover{
    background-color: #ffcc00;
    transition: 0.2s ease;
}
.sc_share{
    flex: 1 1 0%;
    height: 45px;
    background: rgb(241, 241, 241);
    border-radius: 50px;
    font-weight: 700;
    font-size: 17px;
    color: rgb(133, 133, 133);
    border: none;
}
.sc_share:hover{
    background-color: #ffcc00;
    transition: 0.2s ease;
}

/*
    회원가입
 */
.signup_row{
    height: 56px;
    margin-bottom: 3px ;
}
.check-result{
    text-align: left;
    font-size: 12px;
    padding-left: 5px;
}
.checkButton {
    margin-left: 4px;
    width: 80px;
    height: 38px;
    background: #458dfc;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 14px;
    border: none;
}
.checkButton:hover{
    background: #b9b9b9;
    color: #000;
    transition: 0.2s ease;
}
.submitButton {
    height: 35px;
    width: 80px;
    background: #458dfc;
    border-radius: 0.375rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 16px;
    border: none;
    margin-bottom: 5px;
}
.submitButton:hover{
    background: #c9c9c9;
    transition: 0.2s ease;
}

/*
    마이페이지
 */
.study_group_list{
    border: #fff 2px solid;
    /*background-color: forestgreen;*/
}
.myinfo_list{
    border: #fff 2px solid;
    /*background-color: blue;*/
}
.mypage_subtitle{
    text-align: left;
    font-size: 1.3rem;
    font-weight: bold;
}
.group_list_card:hover{
    background-color: #eeeeee;
}
.deleteButton{
    background-color: indianred;
}
.deleteButton:hover{
    background-color: whitesmoke;
    color: indianred;
}