<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sloop.attachment.mapper.AttachmentMapper">
    <!-- attachment 테이블에 첨부파일 list 삽입 -->
    <insert id="insertAttachmentList" parameterType="java.util.List">
        insert into attachment (postIdx, attachmentOrgName, attachmentDirPath, attachmentName)
        values
        <foreach collection="list" item="atmt" separator=",">
        (#{atmt.postIdx}, #{atmt.attachmentOrgName}, #{atmt.attachmentDirPath}, #{atmt.attachmentName})
        </foreach>
    </insert>

    <!-- postIdx 게시글의 첨부파일 목록 조회 -->
    <select id="findAttachmentByPostIdx" parameterType="int" resultType="attachment">
        select attachmentIdx, postIdx, attachmentOrgName, attachmentDirPath, attachmentName
        from attachment
        where postIdx = #{postIdx}
    </select>

    <!-- 파일명으로 디렉터리 경로 조회 -->
    <select id="findDirPathByName" parameterType="String" resultType="String">
        select attachmentDirPath
        from attachment
        where attachmentName = #{attachmentName}
    </select>
</mapper>