* {
    box-sizing: border-box;
}
footer {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Public Sans", "Noto Sans KR", sans-serif;
    font-style: normal;
    vertical-align: baseline;
}

@media (max-width: 1024px) {
    footer {
        font-size: 62.5%;
    }
}
footer {
    display: block;
}

.footer_wrap footer {
    background-color: #f8f8f8;
}
.footer_wrap footer .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.footer_wrap .company {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: nowrap;
    width: 50%;
    height: 200px;
    padding-top: 40px;
}
.footer_wrap .company .company_info {
    margin-left: 28px;
    font-size: 15px;
    line-height: 20px;
    color: #767676;
}
.footer_wrap .company .company_info li {
    margin-bottom: 10px;
    font-size: 15px;
}
.footer_wrap .company:last-child {
    padding-left: 48px;
}
.footer_wrap footer {
    height: 310px;
}
.footer_wrap footer .inner {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: nowrap;
}
.footer_wrap .company {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    padding-top: 30px;
}
.footer_wrap .company .company_info {
    margin-left: 28px;
    font-size: 15px;
    line-height: 20px;
    color: #767676;
}
.footer_wrap .company .company_info li {
    margin-bottom: 10px;
    font-size: 15px;
}
.footer_wrap .company:last-child {
    padding-left: 0;
}
.footer_wrap {
    display: none;
}