<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sloop.postForum.mapper.PostForumMapper">
    <!-- postForum 테이블에 글 삽입하기 -->
    <insert id="insertPostForum" parameterType="postForum">
        insert into postForum (postIdx, postForumTitle, postForumContents, memberIdx, categoryPostIdx)
        values (#{postIdx}, #{postForumTitle}, #{postForumContents}, #{memberIdx}, #{categoryPostIdx})
    </insert>

    <!-- post 테이블에 글 삽입하기 & auto_increment된 postIdx를 parameter에 대입 -->
    <insert id="insertPost" parameterType="postForum">
        insert into post(boardIdx)
        values(#{boardIdx})
        <selectKey resultType="int" keyProperty="postIdx" order="AFTER">
            select last_insert_id();
        </selectKey>
    </insert>

    <!-- 특정 회원 email을 통해 idx 조회 -->
    <select id="selectMemberIdxByMemberEmail" parameterType="String" resultType="int">
        select memberIdx
        from member
        where memberEmail = #{memberEmail}
    </select>

    <!-- boardIdx에 해당하는 게시판의 postForum 게시글을 조회 (페이징+검색) -->
    <select id="selectAllPostForumByBoardIdx" parameterType="search" resultType="postForum">
        select f.postIdx, c.categoryPostName, f.postForumTitle, f.postForumRegDate, f.postForumHits, m.memberNickname
        from postForum as f
        join categoryPost as c on f.categoryPostIdx = c.categoryPostIdx
        join member as m on f.memberIdx = m.memberIdx
        join post as p on f.postIdx = p.postIdx
        where p.boardIdx = #{boardIdx}
        <if test='searchType != null and searchType != 0'>
            <choose>
                <when test = "searchType == 1">
                    and f.postForumTitle like concat('%', #{keyword}, '%')
                </when>
                <when test = "searchType == 2">
                    and f.postForumContents like concat('%', #{keyword}, '%')
                </when>
                <when test = "searchType == 3">
                    and (f.postForumTitle like concat('%', #{keyword}, '%') or f.postForumContents like concat('%', #{keyword}, '%'))
                </when>
                <when test = "searchType == 4">
                    and m.memberNickname like concat('%', #{keyword}, '%')
                </when>
            </choose>
        </if>
        order by f.postForumRegDate desc
        limit #{postsPerPage} offset #{offset}
    </select>

    <!-- postIdx에 해당하는 게시글 하나의 상세 조회 페이지를 위한 쿼리 -->
    <select id="findByPostIdx" parameterType="int" resultType="postForum">
        select f.postIdx, c.categoryPostIdx, c.categoryPostName, f.postForumTitle, f.postForumContents, f.postForumRegDate, f.postForumEditDate, f.postForumHits, m.memberNickname, f.memberIdx, m.memberEmail
        from postForum as f
        join categoryPost as c on f.categoryPostIdx = c.categoryPostIdx
        join member as m on f.memberIdx = m.memberIdx
        join post as p on f.postIdx = p.postIdx
        where f.postIdx = #{postIdx}
    </select>

    <!-- postIdx에 해당하는 게시글 수정 -->
    <update id="update" parameterType="postForum">
        update postForum
        set postForumTitle = #{postForumTitle},
        postForumContents = #{postForumContents},
        postForumEditDate = now(),
        categoryPostIdx = #{categoryPostIdx}
        where postIdx = #{postIdx}
    </update>

    <!-- postIdx에 해당하는 게시글 삭제 -->
    <delete id="delete" parameterType="int">
        delete from post
        where postIdx = #{postIdx}
    </delete>

    <!-- postIdx에 해당하는 게시글 조회수 1 증가 -->
    <update id="updatePostForumHits" parameterType="int">
        update postForum
        set postForumHits = postForumHits + 1
        where postIdx = #{postIdx}
    </update>

    <!-- boardIdx에 해당하는 게시판에서 검색 키워드에 맞는 모든 게시글 개수 조회 -->
    <select id="searchAndCountPostsByBoardIdx" parameterType="search" resultType="int">
        select count(f.postIdx)
        from postForum as f
        join member as m on f.memberIdx = m.memberIdx
        join post as p on f.postIdx = p.postIdx
        where p.boardIdx = #{boardIdx}
        <if test='searchType != null and searchType != 0'>
            <choose>
                <when test = "searchType == 1">
                    and f.postForumTitle like concat('%', #{keyword}, '%')
                </when>
                <when test = "searchType == 2">
                    and f.postForumContents like concat('%', #{keyword}, '%')
                </when>
                <when test = "searchType == 3">
                    and (f.postForumTitle like concat('%', #{keyword}, '%') or f.postForumContents like concat('%', #{keyword}, '%'))
                </when>
                <when test = "searchType == 4">
                    and m.memberNickname like concat('%', #{keyword}, '%')
                </when>
            </choose>
        </if>
    </select>

    <!-- postIdx에 해당하는 게시글의 작성자 회원 email 조회 -->
    <select id="findWriterEmailByPostIdx" parameterType="int" resultType="String">
        select m.memberEmail
        from postForum as f
        join member as m on f.memberIdx = m.memberIdx
        where f.postIdx = #{postIdx}
    </select>
</mapper>