<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PostForum">
    <insert id="insertPostForum" parameterType="postForum">
        insert into postForum (postIdx, postForumTitle, postForumContents, memberIdx, categoryPostIdx)
        values (#{postIdx}, #{postForumTitle}, #{postForumContents}, #{memberIdx}, #{categoryPostIdx})
    </insert>

    <insert id="insertPost" parameterType="postForum">
        insert into post(boardIdx)
        values(#{boardIdx})
        <selectKey resultType="int" keyProperty="postIdx" order="AFTER">
            select last_insert_id();
        </selectKey>
    </insert>

    <select id="selectMemberIdxByMemberEmail" parameterType="String" resultType="int">
        select memberIdx
        from member
        where memberEmail = #{memberEmail}
    </select>

</mapper>