<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>

        <!-- 김지원 - 주석 아래로 작성 -->
        <!--<typeAlias type="kr.co.sloop.study.domain.StudyGroupDTO" alias="studyGroup"/>-->

        <!-- 박석은 - 주석 아래로 작성 -->

        <!-- 이지연 - 주석 아래로 작성 -->
        <!--<typeAlias type="kr.co.sloop.postForum.domain.PostForumDTO" alias="postForum"/>-->

        <!-- 이창규 - 주석 아래로 작성 -->
        <typeAlias type="kr.co.sloop.member.domain.MemberDTO" alias="member"/>

        <!-- 차소영 - 주석 아래로 작성 -->

        <!-- 최지혜 - 주석 아래로 작성 -->


       

    </typeAliases>
</configuration>