<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.sloop.study.mapper.StudyGroupMapper">

    <!-- 메인페이지에서 전체 스터디 그룹 카드 정보 가져오기 -->
    <select id="getAllStudyGroupList" resultType="studyGroup">
        SELECT studyGroupName, studyGroupCode, studyGroupGradeCode, studyGroupSubjectCode, studyGroupRegionCode, studyGroupDuedate, studyGroupMethod from studyGroup
        order by studyGroupIdx desc
    </select>

    <!-- 학교학년 카테고리 가져오기 -->
    <select id="getAllGradeName" resultType="categoryGrade">
        select categoryGradeCode, categoryGradeName from categoryGrade
    </select>

    <!-- 과목 카테고리 가져오기 -->
    <select id="getAllSubjectName" resultType="categorySubject">
        select categorySubjectCode, categorySubjectName from categorySubject
    </select>

    <!-- 지역 카테고리 가져오기 -->
    <select id="getAllRegionName" resultType="categoryRegion">
        select categoryRegionTier, categoryRegionCode, categoryRegionName, categoryRegionParent from categoryRegion
    </select>

    <insert id="insertNewStudyGroup" parameterType="studyGroup">
        insert into studyGroup(studyGroupCode,studyGroupName,studyGroupMethod,studyGroupGradeCode,studyGroupSubjectCode,studyGroupRegionCode,studyGroupNum,studyGroupDuedate,studyGroupStartdate,studyGroupIntrotxt,studyGroupOImg)
            values(#{studyGroupCode},#{studyGroupName},#{studyGroupMethod},#{studyGroupGradeCode},#{studyGroupSubjectCode},#{studyGroupRegionCode},#{studyGroupNum},#{studyGroupDuedate},#{studyGroupStartdate},#{studyGroupIntrotxt},#{studyGroupOImg});
        <selectKey resultType="int" keyProperty="studyGroupIdx" order="AFTER">
            select last_insert_id();
        </selectKey>
    </insert>

    <insert id="create4boards" parameterType="int"> <!-- 나중에 BoardMapper로 옮기기 -->
        insert into board(studyGroupIdx, categoryBoardIdx)
                 values (#{studyGroupIdx}, 1),
                        (#{studyGroupIdx}, 2),
                        (#{studyGroupIdx}, 3),
                        (#{studyGroupIdx}, 4)
    </insert>

    <insert id="insertMemberForGrantLeader" parameterType="Map">
        insert into studyMem values (#{studyGroupIdx}, #{memberIdx}, 'ROLE_STUDY_LEADER')
    </insert>

    <select id="selectStudyGroupByGroupCode" parameterType="String" resultType="studyGroup">
        select * from studyGroup where studyGroupCode=#{studyGroupCode}
    </select>

    <select id="getBoardIdxsByGroupCode" parameterType="String" resultType="java.util.HashMap">
        select boardIdx, c.categoryBoardIdx cidx, c.categoryBoard categoryName
        from board b left join categoryBoard c on b.categoryBoardIdx = c.categoryBoardIdx
        where studyGroupIdx=(select studyGroupIdx from studyGroup s where studyGroupCode=#{studyGroupCode})
    </select>

    <update id="updateStudyGroup" parameterType="studyGroup">
        update studyGroup set
            studyGroupName=#{studyGroupName},
            studyGroupMethod=#{studyGroupMethod},
            studyGroupSubjectCode=#{studyGroupSubjectCode},
            studyGroupRegionCode=#{studyGroupRegionCode},
            studyGroupNum=#{studyGroupNum},
            studyGroupDuedate=#{studyGroupDuedate},
            studyGroupStartdate=#{studyGroupStartdate},
            studyGroupIntrotxt=#{studyGroupIntrotxt},
            studyGroupOImg=#{studyGroupOImg}
            where studyGroupIdx=#{studyGroupIdx}
    </update>

    <delete id="deleteGroupByGroupCode" parameterType="String">
        delete from studyGroup where studyGroupCode=#{studyGroupCode}
    </delete>

    <select id="getGroupNameByGroupCode" parameterType="String" resultType="String">
        select studyGroupName from studyGroup where studyGroupCode=#{studyGroupCode}
    </select>

    <insert id="joinStudyGroup">
        insert into studyMem (studyGroupIdx, memberIdx, studyMemRole)
        values (#{studyGroupIdx}, #{memberIdx}, 'ROLE_STUDY_STANDBY')
    </insert>

    <!--창규 추가-->
    <update id="updateStudyGroupHits" parameterType="String">
        update studyGroup
        set	studyGroupHits = studyGroupHits + 1
        where studyGroupCode = #{groupIdx}
    </update>


    <select id="getStudyMemRoleByMemberIdx" resultType="String">
        select studyMemRole from studyMem s
        where memberIdx = #{loginMemberIdx} and studyGroupIdx = (select studyGroupIdx from studyGroup where studyGroupCode=#{studyGroupCode})
    </select>

    <select id="getStudyGroupMembers" resultType="Map">
        select m.memberNickname as memberNickname, m.memberIdx as memberIdx, s.studyGroupIdx as studyGroupIdx, s.studyMemRole as studyMemRole
            from studyMem s join `member` m
            where s.memberIdx=m.memberIdx and s.studyGroupIdx=(
                select studyGroupIdx from studyGroup
                where studyGroupCode=#{studyGroupCode})
    </select>

    <update id="updateStudyMemberRoleApprove">
        update studyMem set studyMemRole = 'ROLE_STUDY_MEMBER'
        where studyGroupIdx = #{studyGroupIdx} and memberIdx = #{memberIdx}
    </update>
</mapper>