<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sloop.postAssignment.mapper.AssignmentMapper">
    <!-- assignment 테이블에 과제 삽입 & auto_increment된 pk(assignmentIdx)를 parameter에 대입 -->
    <insert id="insertAssignment" parameterType="assignment">
        insert into assignment (assignmentEndDate, assignmentScore)
        values(#{assignmentEndDate}, #{assignmentScore})
        <selectKey resultType="int" keyProperty="assignmentIdx" order="AFTER">
            select last_insert_id();
        </selectKey>
    </insert>
</mapper>