<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.sloop.notice.mapper.NoticeMapper">


	<select id="findAllNoticeList" resultType="notice">
		select * from postNotice
	</select>

	<insert id="insertPost" parameterType="notice">
		insert into post(boardIdx)
		values (#{boardIdx})
		<selectKey resultType="int" keyProperty="postIdx" order="AFTER">
			select last_insert_id();
		</selectKey>
	</insert>

	<insert id="insertNoticeWrite" parameterType="notice">
		insert into postNotice (postIdx,postNoticeTitle, postNoticeContents, memberIdx, postNoticeEditDate, postNoticeHits , categoryPostIdx , postNoticePinned)
		values (#{postIdx},#{postNoticeTitle}, #{postNoticeContents} , #{memberIdx} , #{postNoticeEditDate} , #{postNoticeHits} , #{categoryPostIdx} , #{postNoticePinned})
	</insert>

	<select id="findByPostIdx" resultType="notice">
		select postIdx,postNoticeTitle, postNoticeContents, memberIdx, postNoticeEditDate, postNoticeHits , categoryPostIdx , postNoticePinned
		from postNotice
		where postIdx = #{postIdx}
	</select>
</mapper>