<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.sloop.notice.mapper.NoticeMapper">


	<select id="findAllNoticeList" resultType="notice">
		select * from postNotice
	</select>

	<insert id="insertPost" parameterType="notice">
		insert into post(boardIdx)
		values (#{boardIdx})
		<selectKey resultType="int" keyProperty="postIdx" order="AFTER">
			select last_insert_id();
		</selectKey>
	</insert>

	<insert id="insertNoticeWrite" parameterType="notice">
		insert into postNotice (postIdx,postNoticeTitle, postNoticeContents, memberIdx, postNoticeEditDate, postNoticeHits , categoryPostIdx , postNoticePinned)
		values (#{postIdx},#{postNoticeTitle}, #{postNoticeContents} , #{memberIdx} , #{postNoticeEditDate} , #{postNoticeHits} , #{categoryPostIdx} , #{postNoticePinned})
	</insert>

	<select id="findByPostIdx" resultType="notice">
		select n.postIdx , n.postNoticeTitle, n.postNoticeContents, n.postNoticeRegDate, n.memberIdx, n.postNoticeEditDate, n.postNoticeHits , n.categoryPostIdx , n.postNoticePinned , m.memberNickname , m.memberEmail , c.categoryPostName
		from postnotice as n
		join categoryPost as c on n.categoryPostIdx = c.categoryPostIdx
		join member as m on n.memberIdx = m.memberIdx
		join post as p on n.postIdx = p.postIdx
		where n.postIdx = #{postIdx}
	</select>

	<update id="updateNotice" parameterType="notice">
		update postNotice
		set postNoticeTitle = #{postNoticeTitle},
			postNoticeContents = #{postNoticeContents},
			postNoticePinned = #{postNoticePinned},
			categoryPostIdx = #{categoryPostIdx}
		where postIdx = #{postIdx}
	</update>

	<update id="updateNoticeHits" parameterType="int">
		update postNotice
		set	postNoticeHits = postNoticeHits + 1
		where postIdx = #{postIdx}

	</update>
</mapper>